<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Show Contact</title>
</head>
<body>
	<section>
		<div class="card mr-3">

			<div class="card-body">

				<h1 class="text-center">Your Contacts</h1>

				<table class="table">
					<thead>
						<tr>
							<th scope="col">#ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${contacts}">
							<th scope="row" th:text="${c.cid}">1</th>
							<td>
							<img class="profile_picture" alt="profile_picture" th:src="@{'/img/'+${c.imageUrl}}">
							
							
							<span th:text="${c.name}"></span></td>
							
							
							<td>
							
							<a th:href="@{'/user/'+${c.cid}+'/contact/'}">
							
							<span th:text="${c.email}"></span>
							
							</a>
							
							
							</td>
							
							
							<td th:text="${c.phone}">@mdo</td>
							<td>
								<button class="btn btn-sm btn-outline-info">
									<i class="fas fa-pen"></i>
								</button>

								<button class="btn btn-sm btn-outline-danger">
									<i class="fas fa-trash"></i>
								</button>

							</td>
						</tr>

					</tbody>
				</table>

 <!-- pagination --> 

				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currentPage != 0}" class="page-item"><a class="page-link" th:href="@{'/user/show-contacts/'+${currentPage-1}}">Previous</a></li>
						
						
						<li th:classappend="${currentPage==i-1?'active':''}" th:each="i: ${#numbers.sequence(1,totalPages)}" class="page-item">
						<a  class="page-link" th:href="@{'/user/show-contacts/'+${i-1}}"><span th:text="${i}"></span></a>
						</li>
					
						
						
						<li th:if="${currentPage+1 != totalPages}" class="page-item"><a class="page-link" th:href="@{'/user/show-contacts/'+${currentPage+1}}">Next</a></li>
					</ul>
				</nav>


			</div>

		</div>

	</section>


</body>
</html>