<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3">

			<div class="card-body">

				<div class="container text-center">

					<img style="height: 200px; width: 200px;" class="profile_picture"
						alt="profile_picture" th:src="@{'/img/'+${contact.imageUrl}}">



				</div>

			</div>

		</div>

	</section>


</body>
</html>